<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="basePath">C:\\log\</Property>
    </Properties>
    <appenders>
        <RollingFile name="FILE" fileName="${basePath}/logs/library-info.log" filePattern="${basePath}/training-info - %d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p] (%F:%L) - %m%n"/>
        </Console>
    </appenders>
    <Loggers>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </Loggers>
</configuration>